rect.floor{
    fill: grey;
}
rect.enemy{
    fill: red;
}
rect.wall{
    fill: rgb(20, 50, 20);
}

rect.door{
    fill: rgb(130, 100, 0);
}

rect.treasure{
    fill: goldenrod
}

circle.treasure{
    fill: gold;
}
circle.goblin{
    fill:green;
}
circle.demon{
    fill: red;
}
circle.player{
    fill: blue;
}
circle.corpse{
    fill: darkgrey;
}
circle.health{
    fill: rgb(250, 170, 0)
}
circle.empty-box{
    fill: darkgrey;
}