$defaultFill: teal ;

circle {
    &.clean{
        $fill: teal ;
        fill: $fill;
        transition: all 0.4s;
            &:hover{
            fill: lighten($fill, 10) ;
        }
    }

    &.doped{
        $fill: darken(crimson, 10) ;
        fill: $fill;
        transition: all 0.4s;
            &:hover{
            fill: lighten($fill, 10) ;
        }
    }

}



#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    &.hidden{
        display: none;
    }

}

#tooltip p{
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}
