circle {
    &.clean{
        $fill: darken(lime, 20) ;
        fill: $fill;
        transition: all 0.4s;
            &:hover{
            fill: lighten($fill, 10) ;
        }
    }

    &.doped{
        $fill: darken(crimson, 10) ;
        fill: $fill;
        transition: all 0.4s;
            &:hover{
            fill: lighten($fill, 10) ;
        }
    }
}


body{
    background-image: url( "https://upload.wikimedia.org/wikipedia/commons/7/75/V%C3%A9lodi_Dijon.jpg");
    background-size: cover;

}

.body-container{
    background-color: rgba(255, 255, 255, 0.75);
}

#tooltip {
    z-index: 1;
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    p{
        margin: 0;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 20px;
    }

    &.hidden{
        //display: none;
        opacity: 0;
        transition: opacity 6s ease-out;
    }
    //transition: opacity 3s ease-in;
    opacity: 1;
}

