rect.floor {
  fill: grey; }

rect.enemy {
  fill: red; }

rect.wall {
  fill: #143214; }

rect.door {
  fill: #826400; }

rect.treasure {
  fill: goldenrod; }

circle.treasure {
  fill: gold; }

circle.goblin {
  fill: green; }

circle.demon {
  fill: red; }

circle.player {
  fill: blue; }

circle.corpse {
  fill: darkgrey; }
